.section-1 .bottom-container .cards {
    width: 100%;
}

.section-1 .bottom-container .cards .card {
    position: relative;
}

.section-1 .bottom-container .cards #card1::after {
    background: url(/songBazaar/Images/bollywood.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: 1;
}

.section-1 .bottom-container .cards #card2::after {
    background: url(/songBazaar/Images/hollywood.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: 1;
}

.section-1 .bottom-container .cards #card3::after {
    background: url(/songBazaar/Images/podcast.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: 1;
}

.section-1 .bottom-container .cards .card button {
    background-color: rgba(255, 255, 255, 0.857);
    color: hotpink;
    position: relative;
    margin: auto;
    z-index: 2;
    font-size: 1rem;
    letter-spacing: 1.4px;
    border-radius: 10px;
    padding: 10px 5px;
    width: 70%;
}

.section-1 .bottom-container .cards .card button:hover {
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.987);
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-1 .bottom-container .bottom-container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-bottom: 5px;
    color: var(--color-text-secondary);
}
.section-1 .bottom-container .bottom-container-footer h5{
    font-size: .9rem;
    font-weight: 400;
}

/* .section-2 .top-container {
    display: flex;
    justify-content: space-between;
} */

.section-2 .top-container .profile-container img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 0 0 10px hotpink;
}
.section-2 .top-container .btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-2 .top-container .btn-container button{
    background: none;
    outline: none;
    border: none;
    border-radius: 30px;
    width: 70%;
    padding: 5%;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgb(244, 244, 244);
    /* color: var(--color-text-secondary); */
}
.section-2 .top-container .btn-container button a{
    color: var(--color-primary);
    text-decoration: none;
}

.section-2 .top-container .search{
    width: 35%;
}
.section-2 .top-container #search-input{
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.section-2 .bottom-container .title{
    display: inline;
}

.section-2 .bottom-container .container .row .song-container{
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-color: var(--color-primary);
    padding: 15px 0;
    border-radius: 5px;
}

.section-2 .bottom-container .container .row .song-container img{
    height: 250px;
    width: 290px;
    border-radius: 7px;
    box-shadow: 0 0 7px hotpink;
    object-fit: cover;
}
.section-2 .bottom-container .container .row .song-description-container .song-play-btnsContainer{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}

.section-2 .bottom-container .container .row .song-description-container .song-play-btnsContainer i{
    font-size: 2rem;
    background-color: hotpink;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 9px white;
    cursor: pointer;
}
.section-2 .bottom-container .container .row .song-description-container .song-play-btnsContainer i:hover{
    background-color: rgb(253, 89, 171);
}

@media screen and (max-width:700px) {
    .section-2 .top-container{
        flex-direction: column;
        gap: 20px;
    }
    .section-2 .top-container .search{
        width: 50%;
    }
}
@media screen and (max-width:992px) {
    .section-2 .bottom-container .container .row .song-container{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 4%;
    }
    .section-2 .bottom-container .container .row .song-container img{
        height: 170px;
    width: 210px;
    border-radius: 7px;
    box-shadow: 0 0 7px hotpink;
    object-fit: cover;
    }
    .section-2 .bottom-container .container .row .song-description-container{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .section-2 .bottom-container .container .row .song-description-container .song-play-btnsContainer{
        margin-top: 7%;
        justify-content: space-between;
        gap: 25px;
    }
}
@media screen and (max-width:481px) {
    .section-2 .top-container .search{
        min-width: 80%;
    }
}