*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.contianer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-ternary);
}
nav{
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: var(--main-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

nav a{
    text-decoration: none;
    text-shadow: 0 0 10px rgb(53, 4, 40);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2.5px;
    cursor: pointer;
    color: var(--color-text);
}
nav a:hover{
    color: var(--color-text);
}
nav i{
    font-size: 2rem;
}
.main-cont{
    background-color: var(--color-ternary);
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-cont form{
    background-color: var(--color-secondary);
    min-height: 300px;
    min-width: 200px;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 7px;
    color: var(--color-text);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
}
.main-cont form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-cont form input{
    margin-bottom: 15px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    padding: var(--main-padding);
    /* z-index: 1; */
}

.footer h3{
    font-size: 1rem;
}
.footer ul{
    list-style: none;
    font-size: .9rem;
}
.footer ul li:hover{
    cursor: pointer;
    color: hotpink;
}
@media only screen and (max-width: 600px) {
    body{
        overflow: visible;
    }
    nav{
        justify-content: center;
    }
    .main-cont form {
        width: auto; 
    }
    .footer{
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}